*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Arial', sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}
.hero-section{
    position: sticky;
    top: 0;
}
#one{
    min-height: 100vh;
    background-image:url('asset/image/back.jpg');
    background-size: cover;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    background-color: transparent;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00d1d1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}
a:hover {
    color: #00d1d1;
    transition: color 0.3s;
    font-size: 1.5rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    gap: 50px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn {
    margin-bottom: 0%;
    background-color: #00d1d1;
    color: #ffffff;
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #00b3b3;
}



@media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
      padding: 10px 5%;
    }
    .header{
        padding: 10px ;
    }
    .nav a{
        font-size: 0.25rem;
        line-height: 1;
    }
    .logo{
        display: none;
    }
    

    .hero-text{
      max-width: 100%;
    }
}
#two {
    height: 100vh; /* Ensures section height equals the viewport height */
    width: 100vw;  /* Ensures full width of the viewport */
    background-image: url('asset/image/back.jpg'); /* Background image */

    background-size: cover;       /* Scales image to cover the entire section */
    background-position: center;  /* Keeps the image centered */
    background-repeat: no-repeat; /* Prevents tiling */
    margin: 0;
    padding: 0;
}

